/.vscode/
*.nc
*.hdf
*.pkl
*.pickle
*PKG-INFO
*pyc
*.cpython
*Zone.Identifier
*slurm*
STILT_Model/*
!STILT_Model/stiltR
!STILT_Model/merged_stilt_hysplit
STILT_Model/stiltR/.RData
WRF-ARL-converter/NWP/*
!WRF-ARL-converter/NWP/arl-format
WRF-ARL-converter/metprog/rams
WRF-ARL-converter/metprog/mm5
*.zip
*.tar
*.gz
*.RData*
STILT_Model/stiltR/Runs.done/*
*.grb
*.grib
*.arl
